/*.product-image {
    height: auto;
    width: 100%;
    object-fit: cover;
}*/

.checked {
    color: orange;
  }

  i {
    float: right;
}

.price {
    font-size: 1rem;
    float: right;
}

.category {
    font-size: 0.75rem;
    opacity: 0.5;
}

h4 {
    font-size: 1.25rem;
}